<header>
  <nav
    class="navbar navbar-dark bg-transparent d-flex justify-content-center mb-3"
  >
    <a class="navbar-brand d-flex align-content-center" [routerLink]="['/']"
      ><img
        src="../../../assets/img/logo_vtrack.run_white.svg"
        class="img-fluid"
        alt="Vtrack.run Logo"
    /></a>

    <div class="fixed-bottom d-flex justify-content-center mb-3">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="btn btn-primary" [routerLink]="['/new']">New Result</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
